@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html, body {
    background-color: #1B1B1B;
    height: 100%;
    margin: 0;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: darkgrey;
}

.box {
    display: -webkit-flex;
    flex-flow: column;
    height: 100%;
    color: darkgrey;
}

.row {
    background-color: #060D0D;
    -webkit-box-shadow: 0 0 20px #111111;
}

.row.header {
    flex: 0 1 auto;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 20px 5%;
    font-family: 'Ubuntu';
}

#Navigation {
    display: -webkit-flex;
    align-items: center;
}

.pages {
    list-style: none;
    margin: 0;
}

.pages li {
    display: inline-block;
    padding: 5px 20px;
}

.pages li a {
    transition: all 0.3s ease 0s;
}
.pages li a:hover{
    color: darkslategrey;
}

.row.content {
    flex: 1 1 auto;
    margin: 4%;
    display: -webkit-flex;
    flex-direction: row;
    padding: 30px 5%;
    height: 100%;
    font-family: 'Ubuntu';
}

.content .text {
    width: 50%;
}

.content h1 {
    margin-bottom: 30px;
    font-size: 50px;
}
.content p {
    line-height: 1.5;
    padding-right: 40px;
    margin-bottom: 10px;
    font-size: 20px;
}

.content img {
    width: 50%;
    height: auto;
    margin: auto;
    border: 5px solid #1B1B1B;
}

.row.footer {
    display: -webkit-flex;
    flex: 0 1 80px;
    padding: 10px 30px;
    align-items: center;
}

#FooterDescription {
    margin-left: 4%;
    margin-right: 4%;
}

.row.footer .contact {
    list-style: none;
    padding: 0;
    margin: 10px auto 10px auto;
}

.languages {
    list-style: none;
    margin: 50px 4% 0 0;
}

.languages li {
    display: inline-block;
    padding: 5px 5px;
}

.languages li a {
    transition: all 0.3s ease 0s;
}
.languages li a:hover{
    color: darkslategrey;
}