@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html, body {
    background-color: #1B1B1B;
    height: 100%;
    margin: 0;
}

li, a {
    text-decoration: none;
    color: darkgrey;
}

.box {
    display: -webkit-flex;
    flex-flow: column;
    height: 100%;
    color: darkgrey;
}

.row {
    background-color: #060D0D;
    -webkit-box-shadow: 0 0 20px #111111;
}

.row.header {
    flex: 0 1 auto;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 20px 5%;
    font-family: 'Ubuntu';
}

#Navigation {
    display: -webkit-flex;
    margin: auto 0 auto auto;
    align-items: center;
}

#WebTitle {
    margin: auto 0 auto 0;
    font-size: 40px;
}

.pages {
    list-style: none;
    margin: 0;
}

.pages li {
    display: inline-block;
    padding: 5px 20px;
}

.pages li a {
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}
.pages li a:hover{
    color: darkslategrey;
}

.row.content {
    flex: 1 1 auto;
    margin: 4%;
    display: -webkit-flex;
    flex-direction: row;
    padding: 30px 5%;
    height: 100%;
    font-family: 'Ubuntu';
}

.text.column{
    width: 50%;
    margin-right: 60px
}

#Title {
    margin: 15px 0;
    height: 60px;
    font-size: 50px;
}

#ContentText {
    margin: 35px 0;
}
.content p {
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.content img {
    width: 50%;
    height: auto;
    margin: auto;
    border: 5px solid #1B1B1B;
}

.row.footer {
    display: -webkit-flex;
    flex: 0 1 80px;
    padding: 10px 30px;
    align-items: center;
}

#FooterDescription {
    margin-left: 4%;
    margin-right: 4%;
}

.row.footer .contact {
    font-size: 15px;
    list-style: none;
    padding: 0;
    margin: 10px auto 10px auto;
}

.languages {
    list-style: none;
    margin: 50px 4% 0 auto;
    padding: 0;
}

.languages li {
    display: inline-block;
    float: right;
    padding: 5px 5px;
}

.languages li a {
    transition: all 0.3s ease 0s;
}
.languages li a:hover{
    color: darkslategrey;
}